/*default style*/
* {
	box-sizing: border-box;
	background-color:#333;
}
h1, h2, h3, h4, h5, h6, p, ul, li {
	margin: 2%;
	color: #FFFFFF;
}

/*viewport*/
@viewport {
	width: device-width ;
	zoom: 1.0 ;
} 

/*body style*/
body {
	margin: 1% auto;
	text-size: 1vw;
	font-family: 'Verdana';
}

/*div group layout*/
div#outer-wrapper {
	
}
div#inner-wrapper{
	
}
div#content-wrapper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
div#content {
	float: right;
	width: 80%;
	/*margin-left: 5%;
	margin-right: 5%;*/
	display: inline;
}
div#content-actual {
	float: right;
	width: 80%;
	/*margin-left: 5%;
	margin-right: 5%;*/
	display: inline;
}
div#logo {
	width: 90%;
	height: auto;
	margin-left: 5%;
}
div#logo img {
	width: 90%;
	height: auto;
	margin-left: 5%;
}
div#sidebar {
	float: left;
	width: 20%;
	/*margin-left: 2%;
	margin-right: 2%;*/
	display: inline;
	/*position: fixed;
	overflow-y: scroll;
	overflow: hidden;*/
}
div#footer {
	clear: both;
	padding: 1%;
	text-size: .3vw;
	font-family: 'Verdana';
	font-color: #ffffff;
	position: fixed;
	bottom:0;
	width:100%;
}

/*nav style*/
ul.nav {
	margin: 0 0 2% 0;
	height: 1vw;
	line-height: 1vw;
	font-size: 1vw;
	font-family: 'Verdana';
	overflow: hidden;
}
ul.nav li {
	display: inline;
	list-style-type: none;
	text-transform: uppercase;
	margin: 0 2% 0 0;
}
ul.nav li a:link, ul#nav li a:visited {
	color: #7d7257;
	text-decoration: none;
}
ul.nav li a:hover {
	color: #3f3e3a;
}

/*side nav style*/
ul.side-nav {
	/*margin: 1vw 1vw 1vw 1vw;*/
	/*border-bottom: 1px solid #e9e7e7;*/
	font-size: 1vw;
	color: #978f7c;
	text-transform: uppercase;
}
ul.side-nav li {
	/*margin: 0;*/
	/*border-bottom: 1px solid #e9e7e7;*/
	list-style-type: none;
	/*padding: 1px 0;*/
}
ul.side-nav li a {
	display: block;
	/*border-bottom: 1px solid #e9e7e7;*/
	/*margin: 0;*/
	padding: 1vw 1vw 1vw 1vw;
}
ul.side-nav li a:link, ul.side-nav li a:visited {
	color: #978f7c;
	text-decoration: none;
}
ul.side-nav li a:hover {
	color: #cac6ba;
}

/*dropdown*/
.dropbtn {
	/*background-color: #3c3c3c;*/
	color: white;
	padding: 5%;
	font-size: 2vw;
	border: none;
	cursor: pointer;
	font-family:'Verdana';
	color: #ff9000;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	/*background-color: #3c3c3c;*/
	min-width: 10%;
	box-shadow: 2% 2% 2% 2% rgba(0,0,0,0.2);
	padding: 1% 1%;
	z-index: 1;
}
.dropdown-content a {
	color: black;
	padding: 1% 1%;
	text-decoration: none;
	display: block;
}
.dropdown:hover .dropdown-content {
	display:block;
}
.dropdown-content a:hover {
	background-color: #cac6ba;
}
.dropdown:hover .dropbtn {
	background-color: #ff9000;
	color: #FFFFFF;
}



a {
	text-decoration: none;
	color: #FFFFFF;
}
a:hover {
	text-decoration: underline;
}
h1 {
	font-size: 3vw;
	font-family:'Verdana';
}
h2 {
	font-size: 2vw;
	font-family:'Verdana';
	color: #ff9000;
}
p {
	font-size: 1vw;
	line-height: 1vw;
}
img {
	width: 100%;
	height: auto;
}
iframe {
	width: 100%;
	height: 1000px;
	frameborder: 0;
}
table {
	background: #000000;
	font-family: 'Verdana';
	font-size: 1vw;
	position: absolute;
}
