/*default style*/
* {
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p, ul {
    margin:20px 0;
}

/*body style*/
body {
    margin: 60px auto;
    width: 70%;
    text-size: 1em;
    font-family: 'Verdana';
}

/*div group layout*/
div#outer-wrapper{
    background-color:#696969;
}
ul#nav{
    margin: 0 0 20px 0;
	height: 40px;
	line-height: 45px;
	font-size: 1.2em;
	font-family: 'Verdana';
	overflow: hidden;
}


a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Verdana';
}
h2 {
    font-size: 2em;
    font-family:'Verdana';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
