/*default style*/
* {
    box-sizing: border-box;
    background-color:#3c3c3c;
}
h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 2%;
	color: #FFFFFF;
}

/*viewport*/
@viewport {
  width: device-width ;
  zoom: 1.0 ;
} 

/*body style*/
body {
    margin: 60px auto;
    text-size: 1em;
    font-family: 'Verdana';
}

/*div group layout*/
div#outer-wrapper {
    
}
div#inner-wrapper{
    
}
div#content-wrapper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
div#content {
	float: right;
	width: 70%;
	/*margin-left: 5%;
	margin-right: 5%;*/
	display: inline;
}
div#logo {
	width: 100%;
	height: auto;
	margin-top: 2%;
	margin-left: 2%;
}
div#logo img {
	width: 100%;
	height: auto;
}
div#sidebar {
	float: left;
	width: 30%;
	/*margin-left: 2%;
	margin-right: 2%;*/
	display: inline;
}
div#footer {
	clear: both;
	border-top: 1px solid #5e534f;
	padding: 10px;
	text-size: .8em;
    	font-family: 'Verdana';
}

/*nav style*/
ul#nav {
    margin: 0 0 20px 0;
	height: 40px;
	line-height: 45px;
	font-size: 2vw;
	font-family: 'Verdana';
	overflow: hidden;
}
ul#nav li {
	display: inline;
	list-style-type: none;
	text-transform: uppercase;
	margin: 0 20px 0 0;
}
ul#nav li a:link, ul#nav li a:visited {
	color: #7d7257;
	text-decoration: none;
}
ul#nav li a:hover {
	color: #3f3e3a;
}

/*side nav style*/
ul.side-nav {
	/*margin: 10px 5px 10px 17px;*/
	/*border-bottom: 1px solid #e9e7e7;*/
	font-size: 2vw;
	color: #978f7c;
	text-transform: uppercase;
}
ul.side-nav li {
	margin: 0;
	/*border-bottom: 1px solid #e9e7e7;*/
	list-style-type: none;
	padding: 1px 0;
}
ul.side-nav li a {
	display: block;
	/*border-bottom: 1px solid #e9e7e7;*/
	margin: 0;
	padding: 10px 0 10px 20px;
}
ul.side-nav li a:link, ul.side-nav li a:visited {
	color: #978f7c;
	text-decoration: none;
}
ul.side-nav li a:hover {
	color: #cac6ba;
}


a {
    text-decoration: none;
    color: #FFFFFF;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 4vw;
    font-family:'Verdana';
}
h2 {
    font-size: 3vw;
    font-family:'Verdana';
	color: #ff9000;
}
p {
    font-size: 2vw;
    line-height: 1.4vw;
}
